$base-color: #223b50;
$light-color: #fff;
$dark-text-color: #223b50;
$button-color: #96dde7;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  body {
    background-color: $base-color;
    color: $light-color;
    #root {
      height: 100vh;
      font-size: 16px;
      line-height: 1.5;
      .container {
        display: flex;
        justify-content: center;
        .courses-container {
          .course-container {
            h2 {
              font-size: 3rem;
              font-weight: 900;
              padding-bottom: 1em;
            }

            padding: 2em 0;
            margin-bottom: 5em;

            button {
              margin-top: 1em;
              padding: 0.7em 2em;
              border-radius: 20px;
              background-color: $base-color;
              border: 2px solid $light-color;
              color: $light-color;
              font-weight: 900;
              outline: none;
              &:hover {
                opacity: 0.7;
                transition: 0.15s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
